<p-card>
    <p-fieldset legend="Contáctanos">
        <div style="text-align: center; font-size: 1.2rem">
            <div style="max-width: 400px; margin: 0 auto">
                <p *ngFor="let p of config.contact.split('\n')">
                    <strong>{{p}}</strong>
                </p>
            </div>
            <br>
            <p>Síguenos en nuestra redes sociales</p>
            <a [href]="config.facebook">
                <i class="fab fa-facebook-square" style="font-size: 3rem; margin: 8px"></i>
            </a>
            <a [href]="config.twitter">
                <i class="fab fa-twitter-square" style="font-size: 3rem; margin: 8px"></i>
            </a>
            <a [href]="config.instagram">
                <i class="fab fa-instagram" style="font-size: 3rem; margin: 8px"></i>
            </a>
        </div>
    </p-fieldset>
</p-card>
