<p-card>
    <p-fieldset legend="¿Quienes somos?">
        <p style="text-align: center; font-size: large">
            En la actualidad contamos con 16 asociadas, maquinaría y equipo de modistería
            necesarios para fabricar ropa de trabajo de excelente calidad. 12 años de experiencia
            en la confección de ropa de trabajo garantizan nuestros productos.
        </p>
        <br><br>
        <p style="text-align: center; font-size: 1.3rem; font-family: 'Calibri Light'"><strong><i>
            "TODO TRABAJADOR LLEVA EL MEJOR CAPITAL DENTRO DE SI MISMO Y DEBE
            AUMENTARLO ARDIENTEMENTE Y APLICARLO SABAMENTE". <br>
            P. ADOLFO KOLPING
        </i></strong></p>
    </p-fieldset>
</p-card>
