<div class="row">
    <ng-container *ngFor="let p of products">
        <div class="col-sm text-center">
            <p-card header="{{p.name}}" [style]="{maxWidth: '360px', margin: '0 auto'}">
                <img src="{{p.image}}" alt="" style="max-width: 340px">
                <p><strong>Precio: </strong>{{p.value | currency:'$':'symbol':'3.0'}}</p>
                <p><strong>Descuento: </strong>{{p.discount}}</p>
                <p style="text-align: justify">Descripción: {{p.description}}</p>
            </p-card>
        </div>
    </ng-container>
</div>

